*
!*/
!Content/AdvancedLogistics/*
!FactoryGame.uproject
!LICENSE
!README.md
!Content/FactoryGame/Buildable/Factory/CA_Merger/Mesh/*
!Content/FactoryGame/Buildable/Factory/CA_Merger/UI/*
!Content/FactoryGame/Buildable/Factory/CA_Splitter/Mesh/*
!Content/FactoryGame/Buildable/Factory/CA_Splitter/UI/*